header {
    color: #7851A9;
    text-align: center;
}

.introduction div {
    background-color: peachpuff;
}

.introduction {
    background-color: azure;
}

footer {
    text-align: center;
}