html {
    background-color: black;
}

header {
    background-color: #7851A9;
    color: white;
    text-align: center;
}

.introduction div {
    background-color: peachpuff;
}

.introduction {
    background-color: azure;
}

footer {
    text-align: center;
}