html {
    background-color: black;
}

header {
    background-color: #7851A9;
    color: white;
    text-align: center;
}

.introduction div {
    background-color: peachpuff;
}

.introduction {
    background-color: azure;
}

.heading {
    color: white;
}

.columns {
    display: grid;
    grid-template-columns: auto auto auto;
}

.column {
    
}

.list {
    
}

.link-item {
    color:white
}

footer {
    text-align: center;
}